<header class="header">
  <div class="header-content container">
    <a class="header-content__logo" href="">
      <svg class="header-content__logo-icon" width="58" height="60" viewbox="0 0 58 60" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="img/sprite.svg#logo-img"></use>
      </svg>
      <svg class="header-content__logo-magwai" width="92" height="26" viewbox="0 0 92 26" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="img/sprite.svg#logo-img"></use>
      </svg>
    </a>
    <nav class="header-content__nav">
      <ul class="header-content__list">
        <li class="header-content__item">
          <a class="header-content__link" href="">
            Услуги
          </a>
        </li>
        <li class="header-content__item">
          <a class="header-content__link" href="">
            Абоненты
          </a>
        </li>
        <li class="header-content__item">
          <a class="header-content__link" href="">
            Почему мы
          </a>
        </li>
        <li class="header-content__item">
          <a class="header-content__link" href="">
            Оборудование
          </a>
        </li>
        <li class="header-content__item">
          <a class="header-content__link" href="">
            Акции
          </a>
        </li>
        <li class="header-content__item">
          <a class="header-content__link" href="">
            Услуги
          </a>
        </li>
        <li class="header-content__item">
          <a class="header-content__link" href="">
            FAQ
          </a>
        </li>
        <li class="header-content__item">
          <a class="header-content__link" href="">
            Контакты
          </a>
        </li>
      </ul>
    </nav>
    <div class="header-content__actions">
      <a class="header-content__phone" href="tel:+78000000000">
        <svg class="header-content__phone-icon" width="33" height="32" viewbox="0 0 33 32" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="img/sprite.svg#carbon_phone-filled"></use>
        </svg>
      </a>
      <a class="header-content__button" data-fancybox data-src="#hidden-content" href="javascript:;">
        <span>Оставить заявку</span>
      </a>
    </div>
  </div>
</header>
