:root {
  --font-montserrat-regular: "Montserrat-Regular", sans-serif;
  --font-montserrat-bold: "Montserrat-Bold", sans-serif;
  --font-mulish-bold: "Mulish-Bold", sans-serif;
  --font-mulish-semibold: "Mulish-SemiBold", sans-serif;
  --content-width: 1720px;
  --container-offset: 100px;
  --container-offset-ipad: 40px;
  --light-color: #fff;
  --dark-13: #131313;
  --dark-17: #171717;
  --dark: #666666;
  --brown-81: #C2AB81;
  --grey-80: #808080;
  --10-14: clamp(0.625rem, 0.5787rem + 0.2469vw, 0.875rem);
  --20-36: clamp(1.25rem, 0.5341rem + 3.5794vw, 2.25rem);
  --12-16: clamp(0.75rem, 0.3214rem + 0.5714vw, 1rem);
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Mulish-Bold";
  src: url("../fonts/../fonts/Mulish-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Mulish-SemiBold";
  src: url("../fonts/../fonts/Mulish-SemiBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
  font-size: 16px;
  background-color: var(--dark-13);
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: calc(var(--content-width) + var(--container-offset) * 2);
}
@media (max-width: 768px) {
  .container {
    padding: 0 var(--container-offset-ipad);
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 16px;
  }
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

/* header */
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 24px;
  /* burger */
  /* end burger */
}
@media (max-width: 1658px) {
  .header-content {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .header-content {
    padding-top: 27px;
    padding-right: 67px;
    padding-bottom: 25px;
    padding-left: 52px;
  }
}
@media (max-width: 576px) {
  .header-content {
    padding-right: 16px;
    padding-left: 16px;
  }
}
.header-content__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 78px;
  color: var(--light-color);
  transition: color ease-in-out 0.5s;
}
.header-content__logo-icon {
  margin-right: 4px;
}
.header-content__logo:hover {
  color: var(--brown-81);
}
@media (max-width: 1658px) {
  .header-content__logo {
    order: 1;
  }
}
@media (max-width: 700px) {
  .header-content__logo {
    margin-right: 0;
  }
}
.header-content__burger {
  position: relative;
  display: none;
  z-index: 1;
}
@media (max-width: 768px) {
  .header-content__burger {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
}
.header-content__nav {
  position: relative;
  margin-right: auto;
}
@media (max-width: 1658px) {
  .header-content__nav {
    margin-top: 20px;
    margin-right: 0;
    order: 3;
  }
}
@media (max-width: 768px) {
  .header-content__nav {
    display: none;
    margin-top: 0;
  }
  .header-content__nav.header-content__active {
    position: absolute;
    left: 0;
    display: flex;
    z-index: 10;
  }
}
@media (max-width: 768px) {
  .header-content__active .header-content__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 15px;
    padding-left: 52px;
  }
}
@media (max-width: 768px) and (max-width: 576px) {
  .header-content__active .header-content__list {
    padding-top: 26px;
    padding-left: 18px;
  }
}
.header-content__list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 42px;
       column-gap: 42px;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
@media (max-width: 768px) {
  .header-content__list {
    width: 100vw;
    padding-top: 59px;
    padding-left: var(--container-offset);
    background-color: var(--dark-13);
  }
}
.header-content__link {
  font-family: var(--font-montserrat-bold);
  font-size: 14px;
  line-height: 150%;
  font-weight: 700;
  color: var(--light-color);
  text-transform: uppercase;
  transition: text-shadow ease-in-out 0.5s;
}
.header-content__link:hover, .header-content__link:focus {
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px var(--brown-81), 0 0 30px var(--brown-81), 0 0 40px var(--brown-81), 0 0 55px var(--brown-81), 0 0 75px var(--brown-81);
}
@media (max-width: 768px) {
  .header-content__link {
    font-size: 36px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--grey-80);
    color: transparent;
  }
}
@media (max-width: 576px) {
  .header-content__link {
    font-size: 20px;
  }
}
.header-content__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
}
@media (max-width: 1658px) {
  .header-content__actions {
    order: 2;
  }
}
@media (max-width: 700px) {
  .header-content__actions {
    display: none;
  }
}
@keyframes shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.header-content__phone {
  display: block;
  color: var(--light-color);
  transition: color ease-in-out 0.5s;
}
.header-content__phone:hover {
  animation: shaking 0.25s infinite;
  color: var(--brown-81);
}
.header-content__button {
  position: relative;
  display: inline-flex;
  padding: 21px 69px 21px 66px;
  font-family: var(--font-montserrat-bold);
  font-size: 12px;
  line-height: 150%;
  font-weight: 700;
  color: var(--light-color);
  text-transform: uppercase;
  background-color: var(--brown-81);
  border: none;
  transform: skewX(-17deg);
  transition: color ease-in-out 0.5s, background-color ease-in-out 0.5s;
  cursor: pointer;
}
.header-content__button:hover, .header-content__button:focus {
  color: var(--brown-81);
  background-color: var(--light-color);
}
.header-content__button:hover::after, .header-content__button:focus::after {
  background-color: var(--brown-81);
  transition: backgorund-color ease-in-out 0.5s;
}
.header-content__button::after {
  position: absolute;
  content: "";
  top: 0;
  right: -12px;
  bottom: 0;
  width: 5px;
  background-color: var(--light-color);
}
.header-content__button span {
  display: block;
  transform: skewX(17deg);
}
@media (max-width: 992px) {
  .header-content__button {
    padding: 21px 38px 21px 17px;
  }
}

/* hero */
.hero {
  margin-bottom: 138px;
  border-radius: 60px 60px 0 0;
  background: url("../img/hero-bg.png") 1px 0px no-repeat transparent;
}
@media (max-width: 768px) {
  .hero {
    margin-bottom: 29px;
    background-position: center top;
  }
}
.hero-content {
  padding-top: 597px;
  padding-bottom: 96px;
}
@media (max-width: 768px) {
  .hero-content {
    padding-top: 552px;
    padding-left: 49px;
  }
}
@media (max-width: 700px) {
  .hero-content {
    padding-top: 226px;
    padding-bottom: 52px;
  }
}
@media (max-width: 576px) {
  .hero-content {
    padding-left: 14px;
  }
}
.hero-content__title {
  margin: 0 0 40px 0;
  font-family: var(--font-montserrat-bold);
  font-size: 42px;
  line-height: normal;
  font-weight: 700;
  color: var(--light-color);
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .hero-content__title {
    font-size: 38px;
  }
}
@media (max-width: 576px) {
  .hero-content__title {
    font-size: 20px;
  }
}
.hero-content__desc {
  margin: 0 0 40px 0;
  line-height: 150%;
  font-size: 16px;
  color: var(--light-color);
  letter-spacing: 0.9px;
  opacity: 79%;
}
@media (max-width: 768px) {
  .hero-content__desc {
    width: 63%;
    margin-bottom: 38px;
  }
}
@media (max-width: 576px) {
  .hero-content__desc {
    font-size: 14px;
  }
}
.hero-content__button {
  position: relative;
  display: inline-flex;
  padding: 21px 69px 21px 66px;
  font-family: var(--font-montserrat-bold);
  font-size: 12px;
  line-height: 150%;
  font-weight: 700;
  color: var(--light-color);
  text-transform: uppercase;
  background-color: var(--brown-81);
  border: none;
  transform: skewX(-17deg);
  transition: color ease-in-out 0.5s, background-color ease-in-out 0.5s;
  cursor: pointer;
}
.hero-content__button:hover, .hero-content__button:focus {
  color: var(--brown-81);
  background-color: var(--light-color);
}
.hero-content__button:hover::after, .hero-content__button:focus::after {
  background-color: var(--brown-81);
  transition: backgorund-color ease-in-out 0.5s;
}
.hero-content__button::after {
  position: absolute;
  content: "";
  top: 0;
  right: -12px;
  bottom: 0;
  width: 5px;
  background-color: var(--light-color);
}
.hero-content__button span {
  display: block;
  transform: skewX(17deg);
}
@media (max-width: 768px) {
  .hero-content__button {
    margin-left: 9px;
  }
}
@media (max-width: 576px) {
  .hero-content__button {
    padding: 14px 46px 14px 46px;
  }
}

/* posts */
.posts {
  padding-bottom: 200px;
}

.posts-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.posts-content__title {
  margin: 0 0 57px 0;
  font-family: var(--font-montserrat-bold);
  font-size: 42px;
  line-height: 100%;
  font-weight: 700;
  color: var(--light-color);
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .posts-content__title {
    margin-bottom: 44px;
    margin-left: 9px;
  }
}
@media (max-width: 576px) {
  .posts-content__title {
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 0;
  }
}
.posts-content__list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
  margin: 0 0 60px 0;
  padding: 0;
}
@media (max-width: 768px) {
  .posts-content__list {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 576px) {
  .posts-content__list {
    -moz-column-gap: 0;
         column-gap: 0;
  }
}
.posts-content__item {
  width: calc((100% - 120px) / 5);
  background-color: var(--light-color);
}
@media (max-width: 1400px) {
  .posts-content__item {
    width: calc((100% - 90px) / 4);
  }
}
@media (max-width: 1200px) {
  .posts-content__item {
    width: calc((100% - 60px) / 3);
  }
}
@media (max-width: 768px) {
  .posts-content__item {
    width: calc((100% - 20px) / 2);
  }
}
@media (max-width: 576px) {
  .posts-content__item {
    width: 100%;
  }
}
.posts-content__card {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.posts-content__wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 28px 24px 30px 24px;
  height: 100%;
}
.posts-content__h3 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-family: var(--font-mulish-bold);
  line-height: 186%;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: var(--dark-17);
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
}
.posts-content__h4 {
  font-family: var(--font-montserrat-regular);
  font-size: 16px;
  line-height: 162%;
  font-weight: 400;
  color: var(--dark-17);
}
.posts-content__body {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  margin-bottom: auto;
  font-family: var(--font-montserrat-regular);
  font-size: 14px;
  line-height: 171%;
  font-weight: 400;
  color: var(--dark-66);
  overflow: hidden;
  text-overflow: ellipsis;
}
.posts-content__meta {
  font-family: var(--font-montserrat-regular);
  font-size: 12px;
  line-height: 200%;
  font-weight: 400;
  color: var(--dark-66);
}
.posts-content__meta strong {
  font-weight: 700;
}
.posts-content__more {
  width: 100%;
  text-align: center;
  padding: 22px 0 18px 0;
  font-family: var(--font-mulish-semibold);
  font-size: 14px;
  line-height: 100%;
  font-weight: 600;
  color: var(--light-color);
  background-color: var(--dark-17);
  transition: background-color ease-in-out 0.5s;
}
.posts-content__more:hover {
  background-color: var(--brown-81);
}
.posts-content__button {
  position: relative;
  display: inline-flex;
  padding: 21px 69px 21px 66px;
  font-family: var(--font-montserrat-bold);
  font-size: 12px;
  line-height: 150%;
  font-weight: 700;
  color: var(--light-color);
  text-transform: uppercase;
  background-color: var(--brown-81);
  border: none;
  transform: skewX(-17deg);
  transition: color ease-in-out 0.5s, background-color ease-in-out 0.5s;
  cursor: pointer;
  align-self: center;
  cursor: pointer;
}
.posts-content__button:hover, .posts-content__button:focus {
  color: var(--brown-81);
  background-color: var(--light-color);
}
.posts-content__button:hover::after, .posts-content__button:focus::after {
  background-color: var(--brown-81);
  transition: backgorund-color ease-in-out 0.5s;
}
.posts-content__button::after {
  position: absolute;
  content: "";
  top: 0;
  right: -12px;
  bottom: 0;
  width: 5px;
  background-color: var(--light-color);
}
.posts-content__button span {
  display: block;
  transform: skewX(17deg);
}
.posts-content__button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}/*# sourceMappingURL=main.css.map */