// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";


/* header */

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 24px;

  @media (max-width: 1658px) {
    flex-wrap: wrap;
  }

  @media (max-width: 768px) {
    padding-top: 27px;
    padding-right: 67px;
    padding-bottom: 25px;
    padding-left: 52px;
  }

  @media (max-width: 576px) {
    padding-right: 16px;
    padding-left: 16px;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 78px;
    color: var(--light-color);
    transition: color ease-in-out .5s;

    &-icon {
      margin-right: 4px;
    }

    &:hover {
      color: var(--brown-81);
    }

    @media (max-width: 1658px) {
      order: 1;
    }

    @media (max-width: 700px) {
      margin-right: 0;
    }
  }

  /* burger */

  &__burger {
    position: relative;
    display: none;
    z-index: 1;

    @media (max-width: 768px) {
      display: flex;
      align-items: center;
      margin-right: auto;
    }
  }

  /* end burger */

  &__nav {
    position: relative;
    margin-right: auto;

    @media (max-width: 1658px) {
      margin-top: 20px;
      margin-right: 0;
      order: 3;
    }

    @media (max-width: 768px) {
      display: none;
      margin-top: 0;

      &.header-content__active {
        position: absolute;
        left: 0;
        display: flex;
        z-index: 10;
      }
    }
  }

  &__active {

    @media (max-width: 768px) {
      & .header-content__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        row-gap: 15px;
        padding-left: 52px;

        @media (max-width: 576px) {
          padding-top: 26px;
          padding-left: 18px;
        }
      }
    }

  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 42px;
    align-items: center;
    justify-content: space-between;
    margin: 0;

    @media (max-width: 768px) {
      width: 100vw;
      padding-top: 59px;
      padding-left: var(--container-offset);
      background-color: var(--dark-13);
    }
  }

  &__link {
    font-family: var(--font-montserrat-bold);
    font-size: 14px;
    line-height: 150%;
    font-weight: 700;
    color: var(--light-color);
    text-transform: uppercase;
    transition: text-shadow ease-in-out .5s;

    &:hover,
    &:focus {
      text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px var(--brown-81), 0 0 30px var(--brown-81), 0 0 40px var(--brown-81), 0 0 55px var(--brown-81), 0 0 75px var(--brown-81);
    }

    @media (max-width: 768px) {
      font-size: 36px;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: var(--grey-80);
      color: transparent;
    }

    @media (max-width: 576px) {
      font-size: 20px;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;

    @media (max-width: 1658px) {
      order: 2;
    }

    @media (max-width: 700px) {
      display: none;
    }
  }

  @keyframes shaking {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(2deg);
    }

    50% {
      transform: rotate(0eg);
    }

    75% {
      transform: rotate(-2deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  &__phone {
    display: block;
    color: var(--light-color);
    transition: color ease-in-out .5s;

    &:hover {
      animation: shaking 0.25s infinite;
      color: var(--brown-81);
    }
  }

  &__button {
    @include button;

    @media (max-width: 992px) {
      padding: 21px 38px 21px 17px;
    }
  }
}

/* hero */

.hero {
  margin-bottom: 138px;
  border-radius: 60px 60px 0 0;
  background: url('../img/hero-bg.png') 1px 0px no-repeat transparent;

  @media (max-width: 768px) {
    margin-bottom: 29px;
    background-position: center top;
  }

  &-content {
    padding-top: 597px;
    padding-bottom: 96px;

    @media (max-width: 768px) {
      padding-top: 552px;
      padding-left: 49px;
    }

    @media (max-width: 700px) {
      padding-top: 226px;
      padding-bottom: 52px;
    }

    @media (max-width: 576px) {
      padding-left: 14px;
    }

    &__title {
      margin: 0 0 40px 0;
      font-family: var(--font-montserrat-bold);
      font-size: 42px;
      line-height: normal;
      font-weight: 700;
      color: var(--light-color);
      text-transform: uppercase;

      @media (max-width: 768px) {
        font-size: 38px;
      }

      @media (max-width: 576px) {
        font-size: 20px;
      }
    }

    &__desc {
      margin: 0 0 40px 0;
      line-height: 150%;
      font-size: 16px;
      color: var(--light-color);
      letter-spacing: .9px;
      opacity: 79%;

      @media (max-width: 768px) {
        width: 63%;
        margin-bottom: 38px;
      }

      @media (max-width: 576px) {
        font-size: 14px;
      }
    }

    &__button {
      @include button;

      @media (max-width: 768px) {
        margin-left: 9px;
      }

      @media (max-width: 576px) {
        padding: 14px 46px 14px 46px;
      }
    }
  }
}

/* posts */

.posts {
  padding-bottom: 200px;
}

.posts-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    margin: 0 0 57px 0;
    font-family: var(--font-montserrat-bold);
    font-size: 42px;
    line-height: 100%;
    font-weight: 700;
    color: var(--light-color);
    text-transform: uppercase;

    @media (max-width: 768px) {
      margin-bottom: 44px;
      margin-left: 9px;
    }

    @media (max-width: 576px) {
      font-size: 20px;
      margin-bottom: 30px;
      margin-left: 0;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    margin: 0 0 60px 0;
    padding: 0;

    @media (max-width: 768px) {
      column-gap: 20px;
    }

    @media (max-width: 576px) {
      column-gap: 0;
    }
  }

  &__item {
    width: calc((100% - 4*30px)/5);
    background-color: var(--light-color);

    @media (max-width: 1400px) {
      width: calc((100% - 3*30px)/4);
    }

    @media (max-width: 1200px) {
      width: calc((100% - 2*30px)/3);
    }

    @media (max-width: 768px) {
      width: calc((100% - 20px)/2);
    }

    @media (max-width: 576px) {
      width: 100%;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 28px 24px 30px 24px;
    height: 100%;
  }

  &__h3 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-family: var(--font-mulish-bold);
    line-height: 186%;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: var(--dark-17);
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__h4 {
    font-family: var(--font-montserrat-regular);
    font-size: 16px;
    line-height: 162%;
    font-weight: 400;
    color: var(--dark-17);
  }

  &__body {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    margin-bottom: auto;
    font-family: var(--font-montserrat-regular);
    font-size: 14px;
    line-height: 171%;
    font-weight: 400;
    color: var(--dark-66);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__meta {
    font-family: var(--font-montserrat-regular);
    font-size: 12px;
    line-height: 200%;
    font-weight: 400;
    color: var(--dark-66);

    & strong {
      font-weight: 700;
    }
  }

  &__more {
    width: 100%;
    text-align: center;
    padding: 22px 0 18px 0;
    font-family: var(--font-mulish-semibold);
    font-size: 14px;
    line-height: 100%;
    font-weight: 600;
    color: var(--light-color);
    background-color: var(--dark-17);
    transition: background-color ease-in-out .5s;

    &:hover {
      background-color: var(--brown-81);
    }
  }

  &__button {
    @include button;
    align-self: center;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
      opacity: .5;
    }
  }
}
